/* =~= Hamlindigo Theme - made by GitHub user @rcgy for the Skeleton community. Go watch Better Call Saul.  =~= */
/* https://github.com/skeletonlabs/skeleton/discussions/401 */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
	/* =~= Hamlindigo Theme | Custom =~= */
	--theme-font-family-base: overpass, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
		'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--theme-font-family-heading: 'overpass', serif;
	--theme-font-color-base: var(--color-primary-100);
	--theme-font-color-dark: var(--color-secondary-200);
	--theme-rounded-base: 0px;
	--theme-rounded-container: 0px;
	--theme-border-base: 2px;
	/* =~= Theme On-X Colors =~= */
	--on-primary: 255 255 255;
	--on-secondary: 255 255 255;
	--on-tertiary: 255 255 255;
	--on-success: 0 0 0;
	--on-warning: 0 0 0;
	--on-error: 255 255 255;
	--on-surface: 255 255 255;
	/* =~= Theme Colors  =~= */
	/* primary | #f57900 */
	--color-primary-50: 254 235 217;
	/* ⬅ #feebd9 */
	--color-primary-100: 253 228 204;
	/* ⬅ #fde4cc */
	--color-primary-200: 253 222 191;
	/* ⬅ #fddebf */
	--color-primary-300: 251 201 153;
	/* ⬅ #fbc999 */
	--color-primary-400: 248 161 77;
	/* ⬅ #f8a14d */
	--color-primary-500: 245 121 0;
	/* ⬅ #f57900 */
	--color-primary-600: 221 109 0;
	/* ⬅ #dd6d00 */
	--color-primary-700: 184 91 0;
	/* ⬅ #b85b00 */
	--color-primary-800: 147 73 0;
	/* ⬅ #934900 */
	--color-primary-900: 120 59 0;
	/* ⬅ #783b00 */
	/* secondary | #729fcf */
	--color-secondary-50: 234 241 248;
	/* ⬅ #eaf1f8 */
	--color-secondary-100: 227 236 245;
	/* ⬅ #e3ecf5 */
	--color-secondary-200: 220 231 243;
	/* ⬅ #dce7f3 */
	--color-secondary-300: 199 217 236;
	/* ⬅ #c7d9ec */
	--color-secondary-400: 156 188 221;
	/* ⬅ #9cbcdd */
	--color-secondary-500: 114 159 207;
	/* ⬅ #729fcf */
	--color-secondary-600: 103 143 186;
	/* ⬅ #678fba */
	--color-secondary-700: 86 119 155;
	/* ⬅ #56779b */
	--color-secondary-800: 68 95 124;
	/* ⬅ #445f7c */
	--color-secondary-900: 56 78 101;
	/* ⬅ #384e65 */
	/* tertiary | #4f46e5 */
	--color-tertiary-50: 229 227 251;
	/* ⬅ #e5e3fb */
	--color-tertiary-100: 220 218 250;
	/* ⬅ #dcdafa */
	--color-tertiary-200: 211 209 249;
	/* ⬅ #d3d1f9 */
	--color-tertiary-300: 185 181 245;
	/* ⬅ #b9b5f5 */
	--color-tertiary-400: 132 126 237;
	/* ⬅ #847eed */
	--color-tertiary-500: 79 70 229;
	/* ⬅ #4f46e5 */
	--color-tertiary-600: 71 63 206;
	/* ⬅ #473fce */
	--color-tertiary-700: 59 53 172;
	/* ⬅ #3b35ac */
	--color-tertiary-800: 47 42 137;
	/* ⬅ #2f2a89 */
	--color-tertiary-900: 39 34 112;
	/* ⬅ #272270 */
	/* success | #84cc16 */
	--color-success-50: 237 247 220;
	/* ⬅ #edf7dc */
	--color-success-100: 230 245 208;
	/* ⬅ #e6f5d0 */
	--color-success-200: 224 242 197;
	/* ⬅ #e0f2c5 */
	--color-success-300: 206 235 162;
	/* ⬅ #ceeba2 */
	--color-success-400: 169 219 92;
	/* ⬅ #a9db5c */
	--color-success-500: 132 204 22;
	/* ⬅ #84cc16 */
	--color-success-600: 119 184 20;
	/* ⬅ #77b814 */
	--color-success-700: 99 153 17;
	/* ⬅ #639911 */
	--color-success-800: 79 122 13;
	/* ⬅ #4f7a0d */
	--color-success-900: 65 100 11;
	/* ⬅ #41640b */
	/* warning | #EAB308 */
	--color-warning-50: 252 244 218;
	/* ⬅ #fcf4da */
	--color-warning-100: 251 240 206;
	/* ⬅ #fbf0ce */
	--color-warning-200: 250 236 193;
	/* ⬅ #faecc1 */
	--color-warning-300: 247 225 156;
	/* ⬅ #f7e19c */
	--color-warning-400: 240 202 82;
	/* ⬅ #f0ca52 */
	--color-warning-500: 234 179 8;
	/* ⬅ #EAB308 */
	--color-warning-600: 211 161 7;
	/* ⬅ #d3a107 */
	--color-warning-700: 176 134 6;
	/* ⬅ #b08606 */
	--color-warning-800: 140 107 5;
	/* ⬅ #8c6b05 */
	--color-warning-900: 115 88 4;
	/* ⬅ #735804 */
	/* error | #ef2929 */
	--color-error-50: 253 223 223;
	/* ⬅ #fddfdf */
	--color-error-100: 252 212 212;
	/* ⬅ #fcd4d4 */
	--color-error-200: 251 202 202;
	/* ⬅ #fbcaca */
	--color-error-300: 249 169 169;
	/* ⬅ #f9a9a9 */
	--color-error-400: 244 105 105;
	/* ⬅ #f46969 */
	--color-error-500: 239 41 41;
	/* ⬅ #ef2929 */
	--color-error-600: 215 37 37;
	/* ⬅ #d72525 */
	--color-error-700: 179 31 31;
	/* ⬅ #b31f1f */
	--color-error-800: 143 25 25;
	/* ⬅ #8f1919 */
	--color-error-900: 117 20 20;
	/* ⬅ #751414 */
	/* surface | #2b303b */
	--color-surface-50: 223 224 226;
	/* ⬅ #dfe0e2 */
	--color-surface-100: 213 214 216;
	/* ⬅ #d5d6d8 */
	--color-surface-200: 202 203 206;
	/* ⬅ #cacbce */
	--color-surface-300: 170 172 177;
	/* ⬅ #aaacb1 */
	--color-surface-400: 107 110 118;
	/* ⬅ #6b6e76 */
	--color-surface-500: 43 48 59;
	/* ⬅ #2b303b */
	--color-surface-600: 39 43 53;
	/* ⬅ #272b35 */
	--color-surface-700: 32 36 44;
	/* ⬅ #20242c */
	--color-surface-800: 26 29 35;
	/* ⬅ #1a1d23 */
	--color-surface-900: 21 24 29;
	/* ⬅ #15181d */
}

/* Applied to body with `<body data-theme="hamlindigo">` */
/* Generated via: https://heropatterns.com/ */
[data-theme='aithericon'] {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23e0e4ed' fill-opacity='0.5'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
}

.dark [data-theme='aithericon'] {
	/*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%233b4762' fill-opacity='0.2'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
	*/
	/*background-color: #363636;*/
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%234a4a4a' fill-opacity='0.1'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}